@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Deledda';
  src: url('/public/Deledda/Deledda-Open-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: swap;
}

@font-face {
  font-family: 'Deledda';
  src: url('/public/Deledda/Deledda-Open-Semibold.ttf') format('truetype');
  font-weight: 700;
  font-style: swap;
}

@font-face {
  font-family: 'RocaOne';
  src: url('/public/RocaOne/Roca-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: swap;
}

@font-face {
  font-family: 'RocaOne';
  src: url('/public/RocaOne/Roca-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: swap;
}

@font-face {
  font-family: 'RocaOne';
  src: url('/public/RocaOne/Roca-Black.ttf') format('truetype');
  font-weight: 700;
  font-style: swap;
}

main {
  background-image: url('/public/img/2xl_back-main-page.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1280px) {
  main {
    background-image: url('/public/img/xl_back-main-page.webp');
  }
}

@media (max-width: 1024px) {
  main {
    background-image: url('/public/img/lg_back-main-page.webp');
  }
}

@media (max-width: 768px) {
  main {
    background-image: url('/public/img/md_back-main-page.webp');
  }
}

@media (max-width: 640px) {
  main {
    background-image: url('/public/img/sm_back-main-page.webp');
  }
}

